In [10]:
#Imports

from IPython.display import display, Markdown, Latex
import numpy, math, pandas 
import matplotlib.pyplot as plt
import glob
from IPython.display import display, HTML
import os
import openpyxl

In [11]:
# cis-methyl formate

SpontelData = pandas.read_excel("data/DataForAll.xlsx")

SpontelData.head()

,weight,y,sigma_y,Temperature,sigma_T,Observed_field,IceMu,EAnxt,ymin,ymax,xmin,xmax,ticks
0,0.0,0.030918,0.000928,20.0,0.1,161800000,0.577,5.490000e+09,0.0,0.015,54.0,81.0,0.000
1,0.0,0.030505,0.000915,25.0,0.1,159600000,NaN,NaN,0.0,0.015,54.0,81.0,0.004
2,0.0,0.029465,0.000884,30.0,0.1,154200000,NaN,NaN,NaN,NaN,NaN,NaN,0.008
3,0.0,0.030459,0.000914,35.0,0.1,159400000,NaN,NaN,NaN,NaN,NaN,NaN,0.012
4,0.0,0.028968,0.000869,40.0,0.1,151600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#run the main driver program for fitting the spontelectric model on multiple datasets
#load the datasets for each ice material

SpontelData_dict = pandas.read_excel("data/DataforAll.xlsx", sheet_name=None)

for name, sheet in SpontelData_dict.items():
    
    SpontelData = SpontelData_dict[name]
    
    display(SpontelData.head()) #Use this line if you want to see the first few lines of each data file

print('end')

,weight,y,sigma_y,Temperature,sigma_T,Observed_field,IceMu,EAnxt,ymin,ymax,xmin,xmax,ticks
0,0.0,0.030918,0.000928,20.0,0.1,161800000,0.577,5.490000e+09,0.0,0.015,54.0,81.0,0.000
1,0.0,0.030505,0.000915,25.0,0.1,159600000,NaN,NaN,0.0,0.015,54.0,81.0,0.004
2,0.0,0.029465,0.000884,30.0,0.1,154200000,NaN,NaN,NaN,NaN,NaN,NaN,0.008
3,0.0,0.030459,0.000914,35.0,0.1,159400000,NaN,NaN,NaN,NaN,NaN,NaN,0.012
4,0.0,0.028968,0.000869,40.0,0.1,151600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,weight,y,sigma_y,Temperature,sigma_T,Observed_field,IceMu,EAnxt,ymin,ymax,xmin,xmax,ticks
0,1,0.1520,0.000928,38,0.1,118900000,0.0669,549000000.0,0.0,0.2,36.0,66.0,0.0
1,1,0.1242,0.000915,40,0.1,97230000,NaN,NaN,0.0,1.0,36.0,66.0,0.2
2,1,0.1078,0.000884,42,0.1,84360000,NaN,NaN,NaN,NaN,NaN,NaN,0.4
3,1,0.1008,0.000914,44,0.1,78890000,NaN,NaN,NaN,NaN,NaN,NaN,0.6
4,1,0.0846,0.000869,48,0.1,66160000,NaN,NaN,NaN,NaN,NaN,NaN,0.8

,weight,y,sigma_y,Temperature,sigma_T,Observed_field,IceMu,EAnxt,ymin,ymax,xmin,xmax,ticks
0,1,-0.0250,0.000928,32,0.1,161800000,0.4326,-2.490000e+09,0.0,-0.05,30.0,50.0,0.0
1,1,-0.0292,0.000915,36,0.1,159600000,NaN,NaN,0.0,1.00,30.0,50.0,0.2
2,1,-0.0300,0.000884,40,0.1,154200000,NaN,NaN,NaN,NaN,NaN,NaN,0.4
3,1,-0.0293,0.000914,44,0.1,159400000,NaN,NaN,NaN,NaN,NaN,NaN,0.6
4,1,-0.0291,0.000869,48,0.1,151600000,NaN,NaN,NaN,NaN,NaN,NaN,0.8

,weight,y,sigma_y,Temperature,sigma_T,Observed_field,IceMu,EAnxt,ymin,ymax,xmin,xmax,ticks
0,1,-0.0250,0.000928,32,0.1,161800000,0.4256,-2.800000e+09,-0.05,0.0,30.0,50.0,0.0
1,1,-0.0292,0.000915,36,0.1,159600000,NaN,NaN,0.00,1.0,30.0,50.0,0.2
2,1,-0.0300,0.000884,40,0.1,154200000,NaN,NaN,NaN,NaN,NaN,NaN,0.4
3,1,-0.0293,0.000914,44,0.1,159400000,NaN,NaN,NaN,NaN,NaN,NaN,0.6
4,1,-0.0291,0.000869,48,0.1,151600000,NaN,NaN,NaN,NaN,NaN,NaN,0.8

end